html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container {
  background-color: #f5f2e8;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
  animation: pulse 5s infinite;
}

.spectral-extrabold-italic {
  font-family: "Spectral", serif;
  font-weight: 600;
  font-style: italic;
}

h2 {
  margin-top: 64px;
  text-align: center;
}

/* Subtle pulsing effect */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
